<!DOCTYPE html>
<!--
  __    __     ______     ______     ______     __   __     ______    __     __  __
 /\ "-./  \   /\  __ \   /\  ___\   /\  ___\   /\ "-.\ \   /\__  _\  /\ \   /\_\_\_\
 \ \ \-./\ \  \ \  __ \  \ \ \__ \  \ \  __\   \ \ \-.  \  \/_/\ \/  \ \ \  \/_/\_\/_
  \ \_\ \ \_\  \ \_\ \_\  \ \_____\  \ \_____\  \ \_\\"\_\    \ \_\   \ \_\   /\_\/\_\
   \/_/  \/_/   \/_/\/_/   \/_____/   \/_____/   \/_/ \/_/     \/_/    \/_/   \/_/\/_/
-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <link rel="stylesheet" href="{{ url }}css/style.css" />
        <meta name="robots" content="{{ robots }}" />
    </head>
    <body>
        <header>
            <div id="header-content">
                <h1><a href="{{ url }}"><img src="{{ url }}media/magentix.png" alt="Magentix" /></a></h1>
                <p>Développeur Magento indépendant depuis 2009</p>
                <nav>
                    <a href="{{ url }}">Accueil</a> &bull;
                    <a href="{{ url }}blog.html">Billets</a>
                </nav>
            </div>
        </header>
        <main>
            <div id="main-content">
<!-- Content -->
{% content %}
<!-- /Content -->
            </div>
        </main>
        <footer>
            <div id="footer-content">
                <p><strong>Magentix</strong> © 2009 / 2021</p>
                <p><small>Réalisé avec <a href="https://www.stapy.net">StaPy</a></small></p>
                <nav><a href="{{ url }}mentions.html">Mentions légales</a> &bull; <a href="/blog.html">Billets</a></nav>
            </div>
        </footer>
        {% highlight %}
        <script type="text/javascript" src="{{ url }}js/app.js"></script>
    </body>
</html>