<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ meta_title }}</title>
<meta name="description" content="{{ meta_description }}" />
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' cdn.magentix.fr; base-uri 'self'" />
<meta name="robots" content="{{ robots }}" />
<link rel="preload" as="font" href="{{ url }}fonts/liberation-sans-regular.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" href="{{ url }}fonts/liberation-sans-bold.woff2" crossorigin="anonymous" />
<link rel="preload" as="font" href="{{ url }}fonts/liberation-sans-italic.woff2" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ url }}css/style.css" />