body {
    margin: 0;
    padding: 0;
    font: 16px normal -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

header,
footer {
    background: #f6f8fa;
    border-bottom: 1px solid #e5e7eb;
}

main {
    background: url(../images/grass.png) repeat-x bottom;
    padding-bottom: 0;
}

h1 {
    margin: 0 0 0.5rem 0;
}

h1 img {
    margin: 0;
}

h2 {
    padding: 1rem 0 0 0;
    margin: 0 0 1rem 0;
    font-size: 1.85rem;
    font-weight: bold;
    border-bottom: 1px solid #f6f8fa;
    color: #0c4047;
    position: relative;
    line-height: 2.5rem;
}

h3 {
    padding: 1rem 0 0 0;
    margin: 0 0 1rem 0;
    font-size: 1.55rem;
    font-weight: bold;
    border-bottom: 1px solid #f6f8fa;
}

h4 {
    font-size: 1.2rem;
    margin: 1.4rem 0 1rem 0;
    font-weight: bold;
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.5rem;
}

a {
    color: #245a61;
    text-decoration: underline;
}

ul, ol {
    margin: 1.5rem 0;
    padding: 0 1.6rem;
}

li {
    margin-top: 0.8rem;
    line-height: 1.5rem;
}

hr {
    border: 0;
    border-bottom: 1px solid #e5e7eb;
    margin: 1rem 0;
}

pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
    background: #f6f8fa;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    font-family: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.5rem;
}

code, kbd {
    background: #f6f8fa;
    border: 1px solid #e5e7eb;
    font-family: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    padding: 3px 5px;
}

kbd {
    border-bottom: 3px solid #E5E7EB;
}

blockquote {
    padding: 1.5rem;
    background: #f6f8fa;
    border-left: 5px solid #e5e7eb;
    font-style: italic;
    margin: 1rem 0;
    line-height: 1.5rem;
}

img {
    max-width: 100%;
    margin: 1.5rem auto;
    display: block;
}

small {
    font-size: 0.9em;
}

nav a {
    padding: 0 0.3rem;
}

nav a:first-child {
    padding-left: 0;
}

#header-content,
#main-content,
#footer-content {
    margin: auto;
    max-width: 800px;
    padding: 2rem 1.3rem;
}

#footer-content {
    text-align: center;
}

#main-content {
    min-height: 400px;
    background: url(../images/tree.png) no-repeat 20px bottom;
    padding-bottom: 340px;
}

article {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e7eb;
}

article a {
    font-size: 1.2rem;
}

article span {
    font-size: 0.9rem;
    color: #555;
}

table {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-collapse: collapse;
    font-size: 0.9rem;
    margin: 0 0 1rem 0;
}

table td, table th {
    border: 1px solid #e5e7eb;
    padding: 5px 10px;
}

table th {
    text-align: center;
    font-weight: bold;
    background: #0c4047;
    color: #fff;
}

section {
    border-left: 3px solid #e5e7eb;
    padding-left: 15px;
}

aside {
    font-size:0.8rem;
    font-style: italic;
    margin: -0.6rem 0 1rem 0;
    background: url(../images/arrow.png) no-repeat left 4px;
    padding-left: 16px;
    margin-left: 8px;
}

.toolbar {
    position: fixed;
    background: #fff;
    border: 1px solid #e5e7eb;
    padding: 10px;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar a {
    padding-left: 25px;
    background: url(../images/top.png) no-repeat left center;
    text-decoration: none;
    line-height: 20px;
}

.alert {
    background: #FFF5F4;
    border: 1px solid #951C24;
    color: #951C24;
    padding: 10px;
}

.warning {
    background: #FDF8E4;
    border: 1px solid #f2c779;
    color: #333;
    padding: 10px;
}

.info {
    background: #ebf3f4;
    border: 1px solid #015B65;
    color: #333;
    padding: 10px;
}

.alert.csp em {
    color: #C67378;
}

.ll-nam {
    color: #0c4047;
}

.ll-num {
    color: #ec407a;
}

.ll-str {
    color: #43a047;
}

.ll-pct {
    color: #666;
}

.ll-key {
    color: #555;
    font-weight: bold;
}

.ll-com {
    color: #888;
    font-style: italic;
}